/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente oculto */
  visibility: hidden; /* Inicialmente oculto */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transición suave */
}

.modal-content-own {
  background: linear-gradient(-13deg, #f7fcf9, #87faa9); /* Fondo degradado de azules y verdes */  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 1s ease; /* Transición suave */
}

.modal-content-tac {
  background-color: snow; /* Fondo degradado de azules y verdes */  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 30%;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 1s ease; /* Transición suave */
}
/* Estilo para el botón de cerrar (puedes personalizarlo según tus necesidades) */
.modal-content-own button {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Estilo para el botón de cerrar tac (puedes personalizarlo según tus necesidades) */
.modal-content-tac button {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-button-red{
  background-color: #fc6363; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar el ratón */
  font-size: 16px; /* Tamaño de fuente */
}

.modal-button-red:hover {
  background-color: #fc6363; /* Cambio de color en hover */
}

.modal-button-green {
  background-color: important #23a161; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar el ratón */
  margin: 20px;
  font-size: 16px; /* Tamaño de fuente */
}

.modal-button-green:hover {
  background-color: #096916; /* Cambio de color en hover */
}
.modal-overlay.active, .modal-content-own.active {
  opacity: 1; /* Mostrar el modal */
  visibility: visible; /* Mostrar el modal */
}
.modal-overlay.active, .modal-content-tac.active {
  opacity: 1; /* Mostrar el modal */
  visibility: visible; /* Mostrar el modal */
}
@media screen and (min-width: 768px) {
  .modal-content-own {
    width: 30%;
  }
}
