.map {
background-color: #d8eefa;
display: flex;
place-content: center center;
text-align: center;
padding: 30px;
transition: opacity 1s ease-in-out; 
flex-direction: column;
}
.hidden{
    opacity: 0; 
    height: 1px;
    padding: 0px;
}
.map-container {
width: 50%;
}

.map-container path {
    fill: rgb(250, 227, 164);
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}
.map-container .green :hover {
fill: #23a161;
}
.map-container .red :hover {
fill: rgb(247, 94, 94);
}
.map-container > svg {
    padding-left: 450px;
}
.map > h1 {
    padding-top: 20px;
}