.map {
background-color: rgb(218, 218, 219);
display: flex;
place-content: center center;
text-align: center;
padding: 30px;
transition: opacity 1s ease-in-out; 
flex-direction: column;
}
.hidden{
    opacity: 0; 
    height: 1px;
    padding: 0px;
}
.map-container {
width: 50%;
}

.map-container path {
    fill: rgb(69, 69, 70);
    stroke: black;
    stroke-width: 2px;
}
.map-container :hover {
fill: rgb(35, 161, 97);
}
.map-container .red :hover {
fill: rgb(161, 35, 35);
}
.map-container > svg {
    padding-left: 450px;
}
.map > h1 {
    padding-top: 20px;
}