.map {
/*background-color: #d8eefa;*/
background-image: url('../../../assets/images/fondo.png');
display: flex;
place-content: center center;
text-align: center;
padding: 30px;
transition: opacity 1s ease-in-out; 
flex-direction: column;

}
.header-img{
    background-image: url('../../../assets/images/docs.png');
    width: 100%;
    height: 250px;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}
.hidden{
    opacity: 0; 
    height: 1px;
    padding: 0px;
}
.map-container {
width: 50%;
}
.map > h1 {
    font-weight: bold;
    color: #23a161;
}
.map > p {
    font-weight: bold;
    font-size: 20px; 
}
.map-container path {
    fill: rgb(250, 227, 164);
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}
.map-container .green :hover {
fill: #23a161;
}
.map-container .red :hover {
fill: rgb(247, 94, 94);
}
.map-container > svg {
    padding-left: 450px;
}
.map > h1 {
    padding-top: 20px;
}